 
.menuContainer{
    color: #fff;
    background: #fff;
    background-color: #303030;
    padding: 0;
    padding-top: 15px;
    justify-content: center;
}
/*

.styledLinkContainer {
    color: #609940;
    background-color: #fff;
}

.menuItem {
    color: #fff;
}
*/

/*
.c-on-base {
    color: #609940;
} */

/*
.vtex-menu-2-x-styledLinkContainer {
    color: #609940;
}

.vtex-menu-2-x-styledLinkContent {
    color: #609940;
}
*/